body{
    background-image:url(https://png.pngtree.com/background/20230517/original/pngtree-animated-mountains-landscape-wallpaper-4k-and-1080p-2px-picture-image_2640330.jpg);
}
.caption{
    background-color: green;
    width: 300px;
}
.caption1{
    text-align: center;
}
.main{
    margin-left: 80px;
    display: block;
}
.promain{
    display: flex;
}
.main1{
    margin-left: 100px;
}
.buoi1{
    font-size: 25px;
    line-height: 35px;
}
.buoi2{
    font-size: 25px;
    line-height: 35px;
}
.buoi3{
    font-size: 25px;
    line-height: 35px;
}